<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn Page</title>
</head>
<body style="background-color: rgb(133, 200, 200);">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}
    
    <h2 align="center">SignIn to your account</h2>

    <form action="/signin" method="post" align="center">
    {% csrf_token %}

        <lable for="">Username:</lable>
        <input type="text" id="username" name="username"><br><br>

        <lable for="">Password:</lable>
        <input type="password" id="pass1" name="pass1"><br><br>

        <button type="submit"><a href="\imagesPage">Sign In</a></button>

    </form>
    
</body>
</html>